<div class="right-bar-container">
  <div class="right-bar-upper">
    <div class="right-bar-group-search">
      <%= form_with(url: search_groups_path, local: true, method: :get, class: "right-bar-group-search-form") do |f| %>
        <%= f.text_field :keyword, placeholder: "グループ検索", class: "right-bar-group-search-input" %>
        <label class="right-bar-group-search-btn">
          <i class="fa fa-search"></i>
          <%= f.submit class: "hidden" %>
        </label>
      <% end %>
    </div>
  </div>
  <div class="right-bar-lower">
    <div class="right-bar-title">
      グループ Top20
    </div>
    <div class="right-bar-groups">
      <% @groups.each do |group| %>
        <% if user_signed_in? %>
          <% unless GroupUser.exists?(group_id: group.id, user_id: current_user.id) %>
            <div class="right-bar-group-no-participation">
              <%= link_to group_path(group.id) do %>
                <div class="right-bar-group">
                  <div class="right-bar-group-icon">
                    <i class="fa fa-users-slash fa-fw"></i>
                  </div>
                  <div class="right-bar-group-name">
                    <%= group.name %>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="right-bar-group-participation">
              <%= link_to group_path(group.id) do %>
                <div class="right-bar-group">
                  <div class="right-bar-group-icon">
                    <i class="fa fa-users fa-fw"></i>
                  </div>
                  <div class="right-bar-group-name">
                    <%= group.name %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>