<div class="tweet">
  <div class="tweet-container">
    <div class="tweet-upper">
      <div class="tweet-user">
        <%= link_to tweet.user.nickname, user_path(tweet.user_id) %>
      </div>
      <div class="tweet-date">
        <%= tweet_time(tweet.created_at) %>
      </div>
    </div>
    <div class="tweet-center">
      <div class="tweet-group">
        <%= link_to tweet.group.name, group_path(tweet.group.id) %>
      </div>
    </div>
    <div class="tweet-lower">
      <%= link_to group_tweet_path(tweet.group, tweet.id) do %> 
        <div class="tweet-content">
          <%= safe_join(tweet.content.split("\n"),tag(:br)) %>
          <%= image_tag tweet.image, class: 'tweet-image' if tweet.image.attached? %>
        </div>
      <% end %>
    </div>
  </div>
</div>