<div class="tweet">
  <div class="tweet-container">
    <div class="tweet-upper">
      <div class="tweet-user">
        <%= link_to tweet.user.nickname, user_path(tweet.user_id) %>
      </div>
      <div class="tweet-date">
        <%= time_ago_in_words(tweet.created_at) %>前
      </div>
    </div>
    <div class="tweet-center">
      <div class="tweet-group">
        <%= link_to tweet.group.name, group_path(tweet.group.id) %>
      </div>
    </div>
    <div class="tweet-lower">
      <%= link_to group_tweet_path(@group, tweet.id) do %> 
        <div class="tweet-content">
          <%= tweet.content %>
          <%= image_tag tweet.image, class: 'tweet-image' if tweet.image.attached? %>
        </div>
      <% end %>
    </div>
  </div>
</div>