<div class="tweet">
  <div class="tweet-container">
    <div class="tweet-upper">
      <div class="tweet-upper-left">
        <%= link_to(user_path(tweet.user.id)) do %>
          <div class="tweet-upper-avator">
            <% if tweet.user.avator.attached? %>
              <%= image_tag tweet.user.avator %>
            <% else %>
              <%= image_tag "human.dummy.png" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="tweet-upper-right">
        <div class="tweet-upper-right-upper">
          <div class="tweet-user">
            <%= link_to tweet.user.nickname, user_path(tweet.user_id) %>
          </div>
          <div class="tweet-date">
            <%= tweet_time(tweet.created_at) %>
          </div>
        </div>
        <div class="tweet-group">
          <%= link_to tweet.group.name, group_path(tweet.group.id) %>
        </div>
      </div>
    </div>
    <div class="tweet-lower">
      <%= link_to group_tweet_path(tweet.group, tweet.id) do %> 
        <div class="tweet-content">
          <%= safe_join(tweet.content.split("\n"),tag(:br)) %>
          <%= image_tag tweet.image, class: 'tweet-image' if tweet.image.attached? %>
        </div>
      <% end %>
      <div id="likes-button<%= tweet.id %>">
        <%= render partial: "likes/like", locals: { tweet: tweet, like: @like } %>
      </div>
    </div>
  </div>
</div>