<div class="wrapper">
  <div class="left-bar">
    <%= render "left_bar" %>
  </div>
  <div class="main">
    <div class="tweet-show-container">
      <div class="tweet-show-upper">
        <div class="tweet-show-upper-left"></div>
        <div class="tweet-show-upper-right">
          <% if user_signed_in? && @tweet.user_id == current_user.id%>
            <div class="tweet-show-upper-right-edit">
              <%= link_to(edit_group_tweet_path(@group, @tweet.id)) do %>
                <i class="fa fa-wrench fa-fw"></i>編集する
              <% end %>
            </div>
            <div id="tweet-delete-open">
              <i class="fa fa-trash-alt fa-fw"></i>削除する
            </div>
            <div id="tweet-delete-modal">
              <div class="tweet-delete-confirmation">
                <div class="tweet-delete-sentence">
                  本当にこのツイートを削除しますか？
                </div>
                <div class="tweet-delete-btn">
                  <div id="tweet-delete-btn-cancel">
                    キャンセル
                  </div>
                  <div class="tweet-delete-btn-action">
                    <%= link_to(group_tweet_path(@group, @tweet.id), method: :delete) do %>
                      <i class="fa fa-trash-alt fa-fw"></i>削除する
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tweet-show-lower">
        <div class="tweet-show-lower-upper">
          <div class="tweet-show-lower-left">
            <%= link_to(user_path(@tweet.user_id)) do %>
              <div class="tweet-show-avator">
                <% if @tweet.user.avator.attached? %>
                  <%= image_tag @tweet.user.avator %>
                <% else %>
                  <%= image_tag "human.dummy.png" %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="tweet-show-lower-right">
            <div class="tweet-show-lower-user">
              <%= link_to @tweet.user.nickname, user_path(@tweet.user_id) %>
            </div>
            <div class="tweet-show-lower-group">
              <%= link_to @group.name, group_path(@group) %>
            </div>
          </div>
        </div>
        <div class="tweet-show-lower-content">
          <%= safe_join(@tweet.content.split("\n"),tag(:br)) %>
          <%= image_tag @tweet.image, class: "tweet-show-lower-image" if @tweet.image.attached? %>
        </div>
        <div class="tweet-show-lower-date">
          <%= l @tweet.created_at, format: :long %>
        </div>
        <div class="tweet-show-likes">
          <div id="likes-show-button<%= @tweet.id %>">
            <%= render partial: "likes/like_show", locals: { tweet: @tweet, like: @like } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-bar">
    <%= render "right_bar" %>
  </div>
</div>