<div class="group-member-main-container">
  <div class="group-member-main-upper">
    <div class="group-member-main-upper-left"></div>
    <div class="group-member-main-upper-right">
      <% if user_signed_in? %>
        <% unless current_user.id == user.id %>
          <%= render partial: "/relationships/follow_button", locals: { user: user } %>
        <% else %>
          <div class="group-member-main-upper-right-edit">
            <%= link_to(edit_user_path(user.id)) do %>
              <i class="fa fa-wrench fa-fw"></i>アカウント編集
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to(user_path(user.id)) do %>
    <div class="group-member-main-lower">
      <div class="group-member-main-lower-left">
        <div class="group-member-avator">
          <% if user.avator.attached? %>
            <%= image_tag user.avator %>
          <% else %>
            <%= image_tag "human.dummy.png" %>
          <% end %>
        </div>
      </div>
      <div class="group-member-main-lower-right">
        <div class="group-member-user-nickname">
          <%= user.nickname %>
        </div>
        <div class="group-member-user-introduction">
          <%= user.introduction %>
        </div>
      </div>
    </div>
  <% end %>
</div>