<h1>グループ一覧</h1>
<div class="group-search">
  <%= form_with(url: search_groups_path, local: true, method: :get, class: "search-form") do |f| %>
    <%= f.text_field :keyword, placeholder: "グループを検索する", class: "search-input" %>
    <%= f.submit "検索", class: "search-btn" %>
  <% end %>
</div>

<div class="group_list">
  <% @groups.each do |group| %>
    <div class="group_index">
      <% if user_signed_in? %>
        <% unless GroupUser.exists?(group_id: group.id, user_id: current_user.id) %>
          <div class="participation">
            <%= link_to '参　加', join_group_path(group) %>
          </div>
        <% else %>
          <div class="participation">
            <a href="#">参加中</a>
          </div>
        <% end %>
      <% end %>
      <div class="group__name" >
        <%= group.name %>
      </div>
      <div class="group_content">
        <%= group.content %>
      </div>
    </div>
  <% end %>
</div>