<div class="group_lists">
  <h1>グループ一覧</h1>
  <div class="group-search">
    <%= form_with(url: search_groups_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: "グループを検索する", class: "search-input" %>
      <%= f.submit "検索", class: "search-btn" %>
    <% end %>
  </div>

  <div class="group_list">
    <% @groups.each do |group| %>
      <div class="group-container">
        <div class="upper-group-container">
          <div class="group-content-left">
            <div class="participation-button">
              <% if user_signed_in? %>
                <% unless GroupUser.exists?(group_id: group.id, user_id: current_user.id) %>
                  <div class="no_participation">
                    <%= link_to '参　加', join_group_path(group) %>
                  </div>
                <% else %>
                  <div class="participation">
                    <%= link_to '参加中', group_tweets_path(group) %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="number_of_user">
              参加人数: <%= group.users.length %>
            </div>
          </div>
          <div class="group-content-right">
            <div class="group__name" >
              <%= link_to group.name, group_path(group.id) %>
            </div>
            <div class="group_content">
              <%= group.content %>
            </div>
          </div>
        </div>
        <div class="lower-group-container">
          <div class="user_name">
            作成者: <%= group.user.nickname %>
          </div>
          <div class="group_birthday">
            作成日: <%= l group.created_at %>
          </div>
        </div>
        <hr>
      </div>
    <% end %>
  </div>
</div>