<div class="wrapper">
  <div class="left-bar">
    <%= render "/tweets/left_bar" %>
  </div>
  <div class="main">
    <div class="group-member-header">
      <div class="group-member-header-left">
      <%= link_to @group.name, group_path(@group.id) %>
      </div>
      <div class="group-member-header-right">
        <%= "のメンバー(#{@group.users.length}参加中)" %>
      </div>
    </div>
    <div class="group-member-main">
      <% @users.each do |user| %>
        <%= render partial: "member_list", locals: { user: user } %>
      <% end %>
    </div>
  </div>
  <div class="right-bar">
    <%= render "/tweets/right_bar" %>
  </div>
</div>