<div class="wrapper">
  <div class="left-bar">
    <%= render "/tweets/left_bar" %>
  </div>
  <div class="main">
    <div class="user-group-list">
      <div class="user-group-list-header">
        <div class="user-group-list-header-upper">
          <%= @user.nickname %>のグループ
        </div>
        <div class="user-group-list-header-lower">
          <div class="owner-group-list-header-lower-left">
            <%= link_to "参加中", list_user_path(@user.id) %>
          </div>
          <div class="owner-group-list-header-lower-right">
            <%= link_to "オーナー", owner_user_path(@user.id) %>
          </div>
        </div>
      </div>
      <div class="user-group-list-main">
        <% @groupOwners.each do |group| %>
          <div class="group-list-main-container">
            <div class="group-list-main-upper">
              <div class="group-list-main-upper-left">
                <div class="group-list-main-users-member">
                  <%= link_to "#{group.users.length}参加中", member_group_path(group) %>
                </div>
              </div>
              <div class="group-list-main-upper-right">
                <% if user_signed_in? %>
                  <% unless GroupUser.exists?(group_id: group.id, user_id: current_user.id) %>
                    <div class="group-list-main-no-participation">
                      <%= link_to '参　加', join_group_path(group) %>
                    </div>
                  <% else %>
                    <div class="group-list-main-participation">
                      <%= link_to '参加中', group_tweets_path(group) %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="group-list-main-center">
              <%= link_to(group_path(group.id)) do %>
                <div class="group-list-main-group-name">
                  <%= group.name%>
                </div>
                <div class="group-list-main-group-content">
                  <%= group.content %>
                </div>
              <% end %>
            </div>
            <div class="group-list-main-lower">
                <%= link_to(user_path(group.user_id)) do %>
                  <div class="group-list-main-lower-left">
                      <div class="group-list-main-group-owner-icon">
                        <i class="fa fa-user-shield fa-fw"></i>
                      </div>
                      <div class="group-list-main-group-owner-name">
                        <%= group.user.nickname %>
                      </div>
                  </div>
                <% end %>
              <div class="group-list-main-lower-right">
                <div class="group-list-main-group-birthday">
                  <i class="fa fa-history fa-fw"></i><%= l group.created_at %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="right-bar">
    <%= render "/tweets/right_bar" %>
  </div>
</div>