<!DOCTYPE html>
<html>
  <head>
    <title>GroupTalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="header-left">
          <%#<% if user_signed_in? %>
            <a href="#" class="user-nickname">Tom</a>
            <%#<%= link_to 'Tom', "#" class="user-nickname" %>
          <%#<% else %>
            <%#<h2>ログインしていません</h2>
          <%#<% end %>
        </div>
        <div class="header-main">
          <a href="#" class="header-title">GroupTalk</a>
          <%#<%= link_to 'GroupTalk', "#" class="header-title"%>
        </div>
        <div class="header-right">
          <%#<% if user_signed_in? %>
            <%#<a href="#" class="post">投稿</a>
            <%#<%= link_to '投稿', "#", class="post" %>
            <%#<a href="#" class="logout">ログアウト</a>
            <%#<%= link_to 'ログアウト', "#" class="logout" %>
          <%#<% else %>
            <a href="#" class="login">ログイン</a>
            <%#<%= link_to 'ログイン', class="login" %>
            <%#<a href="#" class="sign-up">新規登録</a>%>
            <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
          <%#<% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
